@charset "UTF-8";

* {
    text-decoration: none;
}

body {
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
    max-width: 100vw;
    overflow-x: hidden;
}

p {
    padding: 0px;
    margin: 0px;
}

@media screen and (min-width:0px){

.box1 {
    background: rgb(2,0,36);
    background: linear-gradient(225deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 35%, rgba(0,212,255,1) 100%);
    background-repeat: no-repeat;
    height: 100vh;
    z-index: 0;

}

header {
    display: flex;
    justify-content: left;
    align-items: center;
    z-index: 10;
}

.links {
    list-style: none;
    font-size: 20px;
    z-index: 10;
}

.links li {
    display: inline-block;
    padding: 10px 40px;
}

.vline {
    background-color: rgb(255,115,0);
    height: 40px;
    width: 5px;
    z-index: 2;
    position: absolute;
    padding-top: 20px;

}

.links li a {
    color: white;
    text-decoration: none;
}

.links li a:hover {
    color: rgb(255,115,0);
}

.sign {
    background-color: rgba(0,0,0,0);
    color: #fff;
    border-radius: 30px;
    padding: 15px;
    border: 2px solid white;
    font-size: 20px;
}

.sign:hover {
    background-color: rgb(255,115,0);
}

.divi {
    padding: 15px;
}

.login {
    background-color: #fff;
    border-radius: 30px;
    padding: 15px;
    border: 2px solid white;
    color: rgb(255,115,0);
    font-size: 20px;
}

.login:hover {
    color: white;
    background-color: rgb(255,115,0);
}

.caixa {
    background-color: #fff;
    border-radius: 30px;
    width: 90%;
    margin-left: 80px;
    margin-top: 100px;
    height: 70%;
}

#disqus_thread {
    width: 95%;
    margin: auto;
    height: 100%;
    overflow-y: auto;
}
}

@media screen and (max-width:1310px){

    .box1 {
        height: 150vh;
    }
    .img {
        position: absolute;
        width: 80vw;
        min-width: 800px;
        left: 10vw;
        top: 20vh;
    }
    .bannertxt {
        position: absolute;
        left: 5vw;
        top: 90vh;
    }
    .text {
        font-size: 50px;
        width: 80vw;
    }
    .subtext {
        width: 80vw;
    }
    .box2{
        height: 1000px;
    }
    .s2 {
        padding-left: 10vw;
    }
    .row div section {
        height: 40vh;
        width: 35vw;
        padding-left: 3vw;
    }
    .cardinf {
        width: 28vw;
    }
    .box3 {
        position: absolute;
        width: 35vw;
        height: 40vh;
        left: 51vw;
        top: 316vh;
        padding-left: 3vw;
        border-radius: 60px;
    }
}

@media screen and (max-width:900px){

    .img {
        top: 30vh;
        left: 0vw;
    }
    .box3 {
        top: 312vh;
    }
}

@media screen and (max-width:700px) {

    .img {
        top: 40vh;
        min-width: 500px;
        left: 3vw;
    }
    .box3 {
        top: 310vh;
    }
}

@media screen and (max-width:540px) {
    .img {
        top: 50vh;
        left: 0vw;
    }
    .box3 {
        top: 308vh;
    }
}