    <div class="box1">
        <header>
            <nav>
                <ul class="links">
                    <li><a href="/" style="font-size: 35px;">Ajuda UnB</a></li>
                    <div style="display: inline-block;" class="vline"></div>
                    <li><a href="/">Home</a></li>
                    <li><a href="/forum">Fórum</a></li>
                    <li><a href="/mapa">Mapa</a></li>
                    <li><a href="tradutor">Tradutor de Grade</a></li>
                    <li><a href="/sobrenos">Sobre nós</a></li>
                </ul>
            </nav>
            {{#if user}}
                <a href="usuarios/logout"><div class="sign"><p>Sair</p></div></a>
                <div class="divi"></div>
            {{else}}
                <a href="usuarios/registro"><div class="sign"><p>Registrar</p></div></a>
                <div class="divi"></div>
                <a href="usuarios/login"><div class="login"><p>Entrar</p></div></a>
            {{/if}}
        </header>
        <section class="s1">
            <div class="bannertxt">
                <h1 class="text">O lugar perfeito para quem está perdido.</h1>
                <div class="hlinemarg">
                    <div class="hline"></div>
                </div>
                <div class="subtext"><p>Um place holder simples para o pessoal do grupo botar a parada que quiser.</p>
                </div>
            </div>
            <div class="bannerimg">
                <img class="img" src="img/flat-design-school.svg" alt="fd">
            </div>
        </section>
    </div>
    <div class="box2">
        <section class="s2">
            <div class="row">
                <div>
                    <a href="#">
                        <section>
                            <div class="cardcontent">
                                <h2 class="cardtitle">PlaceHolder</h2>
                                <div class="hline2"></div>
                                <div class="cardinf">
                                    <p>Placeholder pra informações mais detalhadas sobre o card.</p>
                                </div>
                            </div>
                        </section>
                    </a>
                </div>
                <div>
                    <a href="#">
                        <section>
                            <div class="cardcontent">
                                <h2 class="cardtitle">PlaceHolder</h2>
                                <div class="hline2"></div>
                                <div class="cardinf">
                                    <p>Placeholder pra informações mais detalhadas sobre o card.</p>
                                </div>
                            </div>
                        </section>
                    </a>
                </div>
                <div>
                    <a href="#">
                        <section>
                            <div class="cardcontent">
                                <h2 class="cardtitle">PlaceHolder</h2>
                                <div class="hline2"></div>
                                <div class="cardinf">
                                    <p>Placeholder pra informações mais detalhadas sobre o card.</p>
                                </div>
                            </div>
                        </section>
                    </a>
                </div>
            </div>
            <div class="row">
                <div>
                    <a href="#">
                        <section>
                            <div class="cardcontent">
                                <h2 class="cardtitle">PlaceHolder</h2>
                                <div class="hline2"></div>
                                <div class="cardinf">
                                    <p>Placeholder pra informações mais detalhadas sobre o card.</p>
                                </div>
                            </div>
                        </section>
                    </a>
                </div>
                <div>
                    <a href="#">
                        <section>
                            <div class="cardcontent">
                                <h2 class="cardtitle">PlaceHolder</h2>
                                <div class="hline2"></div>
                                <div class="cardinf">
                                    <p>Placeholder pra informações mais detalhadas sobre o card.</p>
                                </div>
                            </div>
                        </section>
                    </a>
                </div>
                <div>
                    <a href="#">
                        <section>
                            <div class="cardcontent">
                                <h2 class="cardtitle">PlaceHolder</h2>
                                <div class="hline2"></div>
                                <div class="cardinf">
                                    <p>Placeholder pra informações mais detalhadas sobre o card.</p>
                                </div>
                            </div>
                        </section>
                    </a>
                </div>
            </div>
            <div class="row">
                <div>
                    <a href="#">
                        <section>
                            <div class="cardcontent">
                                <h2 class="cardtitle">PlaceHolder</h2>
                                <div class="hline2"></div>
                                <div class="cardinf">
                                    <p>Placeholder pra informações mais detalhadas sobre o card.</p>
                                </div>
                            </div>
                        </section>
                    </a>
                </div>
                <div>
                    <a href="#">
                        <section>
                            <div class="cardcontent">
                                <h2 class="cardtitle">PlaceHolder</h2>
                                <div class="hline2"></div>
                                <div class="cardinf">
                                    <p>Placeholder pra informações mais detalhadas sobre o card.</p>
                                </div>
                            </div>
                        </section>
                    </a>
                </div>
                <div>
                    <a href="#">
                        <section>
                            <div class="cardcontent">
                                <h2 class="cardtitle">PlaceHolder</h2>
                                <div class="hline2"></div>
                                <div class="cardinf">
                                    <p>Placeholder pra informações mais detalhadas sobre o card.</p>
                                </div>
                            </div>
                        </section>
                    </a>
                </div>
            </div>
        </section>
        <div class="orangestrip"></div>
    </div>
    <div class="box3">
    </div>