    <div class="box1">
        <header>
            <nav>
                <ul class="links">
                    <li><a href="/" style="font-size: 35px;">Ajuda UnB</a></li>
                    <div style="display: inline-block;" class="vline"></div>
                    <li><a href="/">Home</a></li>
                    <li><a href="/forum">Fórum</a></li>
                    <li><a href="/mapa">Mapa</a></li>
                    <li><a href="tradutor">Tradutor de Grade</a></li>
                    <li><a href="/sobrenos">Sobre nós</a></li>
                </ul>
            </nav>
            
            {{#if user}}
                <a href="usuarios/logout"><div class="sign"><p>Sair</p></div></a>
                <div class="divi"></div>
            {{else}}
                <a href="usuarios/registro"><div class="sign"><p>Registrar</p></div></a>
                <div class="divi"></div>
                <a href="usuarios/login"><div class="login"><p>Entrar</p></div></a>
            {{/if}}
        </header>
        <section class="s1">
            <div class="bannertxt">
                <h1 class="text">O lugar perfeito para quem está perdido.</h1>
                <div class="hlinemarg">
                    <div class="hline"></div>
                </div>
                <div class="subtext"><p>Um site com ferramentas e tutoriais feito pelos alunos da UnB-Gama.</p>
                </div>
            </div>
            <div class="bannerimg">
                <img class="img" src="img/flat-design-school.svg" alt="fd">
            </div>
        </section>
    </div>
    <div class="orangestrip"></div> 
    <div class="s2">
        <a href="/tutoriais/trancar-materia">
            <div class="card">
                <h2>Trancar Matéria</h2>
                <hr>
                <p>Tutorial para colocar em outro semestre aquela matéria que está pesando na sua grade.</p>
            </div>
        </a>
        <a href="/tutoriais/matricula"> <!-- SEI LA ESSA PORRA TEM Q VER DPS-->
            <div class="card">
                <h2>Realizar Matrícula Online</h2>
                <hr>
                <p>Tutorial para se matrícular em novas turmas ultilizando o sigaa.</p>
            </div>
        </a>
        <a href="/tutoriais/matricula-extraordinaria">
            <div class="card">
                <h2>Realizar Matrícula Extraordinaria</h2>
                <hr>
                <p>Tutorial que ensina a realizar a matrícular em vagas de turmas que estão em período de matrículas extraordinárias.</p>
            </div>
        </a>
        <a href="/tutoriais/volta-as-aulas">
            <div class="card">
                <h2>Volta as aulas na pandemia</h2>
                <hr>
                <p>Tutorial com orientações da UnB para voltar as aulas durante a pandemia.</p>
            </div>
        </a>
        <a href="/tutoriais/trancar-matricula"> <!-- SEI LA ESSA PORRA TEM Q VER DPS-->
            <div class="card">
                <h2>Trancar matrícula</h2>
                <hr>
                <p>Tutorial que mostra os procedimentos necessários para o trancamento da matrícula do estudante.</p>
            </div>
        </a>
        <a href="/tutoriais/faltas">
            <div class="card">
                <h2>Quantidade de faltas permitida</h2>
                <hr>
                <p>Breve texto com os requisitos mínimos para passar em qualquer matéria.</p>
            </div>
        </a>
    </div>
        <div class="orangestrip">&copy; Ajuda Unb</div>  