body{
    margin: 0;
    padding: 0%;
    font-family: Arial, Helvetica, sans-serif;
}


header {
    display: flex;
    justify-content: left;
    align-items: center;
    background: linear-gradient(225deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 35%, rgba(0,212,255,1) 100%);
}

.links {
    list-style: none;
    font-size: 20px;
}

.links li {
    display: inline-block;
    padding: 10px 40px;
}

.vline {
    background-color: rgb(255,115,0);
    height: 40px;
    width: 5px;
    z-index: 2;
    position: absolute;
    padding-top: 20px;

}

.links li a {
    color: white;
    text-decoration: none;
}

.links li a:hover {
    color: rgb(255,115,0);
}

input[type=text], input[type=password], input[type=email] {
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    display: inline-block;
    border: none;
    background: #f1f1f1;
  }
  
  input[type=text]:focus, input[type=password]:focus {
    background-color: #ddd;
    outline: none;
  }
  

  hr {
    border: 1px solid #f1f1f1;
    margin-bottom: 25px;
  }
  
 
  .register {
    background: linear-gradient(225deg, rgba(162,79,0,1) 8%, rgba(255,115,0,1) 40%, rgba(255,196,0,1) 82%);
    color: white;
    padding: 16px 20px;
    margin: 8px 0;
    margin-left: 150px;
    border: none;
    border-radius: 15px;
    cursor: pointer;
    width: 80%;
    opacity: 0.9;
  }

  .container{
    padding: 8px;
  }
  
  .register:hover {
    opacity:1;
  }
  

  a {
    color: dodgerblue;
  }
  

  .signin {
    background-color: #f1f1f1;
    text-align: center;
  }

  footer{
    background: rgb(2,0,36);
    background: linear-gradient(225deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 35%, rgba(0,212,255,1) 100%);
    color: #fff;
    text-align: center;
    padding: 20px 0;
    bottom: 0;
    width: 100vw;
    
}