    <header>
        <nav>
            <ul class="links">
                <li><a href="/" style="font-size: 35px;">Ajuda UnB</a></li>
                <div style="display: inline-block;" class="vline"></div>
                <li><a href="/">Home</a></li>
                <li><a href="/forum">Fórum</a></li>
                <li><a href="/mapa">Mapa</a></li>
                <li><a href="/tradutor">Tradutor de Grade</a></li>
                <li><a href="/sobrenos">Sobre nós</a></li>

            </ul>
        </nav>
        <a href="/usuarios/logout"><div class="sign">Sair</div></a>
    </header>
     <div class="login">
        <h1>Sucesso</h1>
        <p>Logado com sucesso</p>
        <div>
            <center><img src="../img/check.png" height="200px" width="200px"></center>
        </div>
    </div>

    <div>
        <footer>
            <p>&copy; 2021 Ajuda UnB.</p>
        </footer>
    </div>