    <header>
        <nav>
            <ul class="links">
                <li><a href="/" style="font-size: 35px;">Ajuda UnB</a></li>
                <div style="display: inline-block;" class="vline"></div>
                <li><a href="/">Home</a></li>
                <li><a href="/forum">Fórum</a></li>
                <li><a href="/mapa">Mapa</a></li>
                <li><a href="/tradutor">Tradutor de Grade</a></li>
                <li><a href="/sobrenos">Sobre nós</a></li>
            </ul>
        </nav>
        {{#if user}}
            <a href="/usuarios/logout"><div class="login">Sair</div></a>
        {{else}}
            <a href="/usuarios/login"><div class="login">Entrar</div></a>
        {{/if}}
    </header>
    {{#if erros}}
        <script>
            alert('As senhas são diferentes')
        </script>
    {{else}}
    {{/if}}
    {{#if email}}
        <script>
            alert('Esse email já foi cadastrado')
        </script>
    {{else}}
    {{/if}}
    {{#if sucesso}}
        <script>
            alert('Cadastrado com sucesso')
        </script>
    {{else}}
    {{/if}}
    <form action="/usuarios/registro" method="POST">
        <div class="container">
            <h1>Registro</h1>
            <p>Complete esse formulario para criar sua conta.</p>
            <hr>
            <label for="nome"><b>Nome:</b></label>
            <br>
            <input type="text" placeholder="Nome" name="nome" id="nome" class="form-control" >
            <br>
            <label for="email"><b>Email:</b></label>
            <br>
            <input type="email" placeholder="Email" name="email" id="email" class="form-control">
            <br>
            <label for="psw"><b>Senha:</b></label>
            <br>
            <input type="password" placeholder="Digite uma senha" name="senha" id="senha">
            <br>
            <label for="psw-repeat"><b>Repita sua Senha:</b></label>
            <br>
            <input type="password" placeholder="Repita sua senha" name="senha2" id="senha2" class="form-control">
            <hr>

            <button type="submit" class="register">Registrar</button>
        </div>

        <div class="container signin">
            <p>Ja tem uma conta? <a href="/usuarios/login">Entre aqui</a>.</p>
        </div>
    </form>

    <div>
        <footer>
            <p>&copy; 2021 Ajuda UnB.</p>
        </footer>
    </div>